body {
    background-color:beige;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    margin-inline-start:auto;
    padding-left: 25cap;
    margin-inline-end:auto;
    padding-right: 25cap;
}

img {
      width: 100px;
      height: auto;
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
      border-radius: 100px;
      border: 2px solid black;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s;
      cursor: pointer;

}

img:hover {
    transform: scale(1.1);
}



